target/classes/usingjavamodule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55285e52-8794-4e85-94b0-c603219d7322" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="usingjavamoduleFlow" doc:id="87b88fc6-2b6a-41ea-8605-a853da1ef5ef" >
		<http:listener doc:name="Listener" doc:id="6c51e006-1a9c-4c85-81e9-f2d0240002e7" config-ref="HTTP_Listener_config" path="/sayhello"/>
		<java:invoke-static doc:name="Invoke static" doc:id="5be68517-ca8e-4cd4-8685-41a7756db2c2" class="com.way2learnonline.StockQuoteService" method="sayHello(java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[{
	name: attributes.queryParams.name as String,
	city: attributes.queryParams.city as String
}]]]></java:args>
		</java:invoke-static>
	</flow>
	<flow name="usingjavamoduleFlow1" doc:id="d3ddc585-e8c2-4b56-98d1-9e3f6230919c" >
		<http:listener doc:name="Listener" doc:id="ea149664-7c3a-44bb-9f12-bbd7bc7d0219" config-ref="HTTP_Listener_config" path="/getprice"/>
		<java:new constructor="StockQuoteService()" doc:name="New" doc:id="e4876db1-1efc-4496-96c5-25bf4f00cf65" class="com.way2learnonline.StockQuoteService" target="sqs"/>
		<java:invoke method="getStockPrice(java.lang.String)" doc:name="Invoke" doc:id="7d5e7a3f-0c89-4b08-812b-218e5ce823c0" instance="#[vars.sqs]" class="com.way2learnonline.StockQuoteService">
			<java:args ><![CDATA[#[{
	stockSymbol: attributes.queryParams.stock as String
}]]]></java:args>
		</java:invoke>
	</flow>
</mule>
